<!-- wp:template-part {"slug":"header"} /-->
 <!-- wp:group {"tagName":"main",align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull posthome">
    <!-- wp:query-title{"type":"archive"} /-->
    <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"list","columns":3},"layout":{"type":"constrained"}} -->
    <section class="wp-block-query">

    </section>
    <!-- /wp:query -->
</main>

 <!--/wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->