<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull posthome">

    <!-- wp:query {"queryId":1,"query":{"perPage":10,"postType":"post","order":"desc","orderBy":"date","inherit":true}} -->
    <section class="wp-block-query">

        <!-- wp:query-title {"type":"archive"} /-->

        <!-- wp:post-template -->

            <!-- wp:post-featured-image {"isLink":true} /-->

            <!-- wp:post-title {"isLink":true,"level":2} /-->

            <!-- wp:group {"layout":{"type":"flex","justifyContent":"left"}} -->
            <div class="wp-block-group">

                <!-- wp:post-author-name {"isLink":true} /-->
                <!-- wp:post-date /-->

            </div>
            <!-- /wp:group -->

            <!-- wp:post-excerpt /-->

        <!-- /wp:post-template -->

        <!-- wp:query-pagination -->
            <!-- wp:query-pagination-previous /-->
            <!-- wp:query-pagination-numbers /-->
            <!-- wp:query-pagination-next /-->
        <!-- /wp:query-pagination -->

    </section>
    <!-- /wp:query -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
